#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Java

**Objectives:**

- List popular languages for Data Science
- Discuss commonly used libraries in Data Science
- Identify development environment tools used in Data Science
- Convert minutes into hours using arithmetic expressions
- Understand basic arithmetic operations in Python

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| DataScience Tools|
|------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Arithmetic Expression Examples

Below are some examples of arithmetic expressions in Python:

In [2]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
ISSAM AISSAOUI IDRISSI